<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Nuevo tema
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Id:</div>
                        </div>
                        <input type="text" class="form-control" id="idTema" placeholder="Id del tema"
                            [(ngModel)]="nuevoTema.idtema">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Nombre:</div>
                        </div>
                        <input type="text" class="form-control" id="nombreTema" placeholder="Nombre del tema"
                            [(ngModel)]="nuevoTema.nombre">
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-primary" id="entrar" (click)="agregarTema()">Agregar</button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tema</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tema of temas">
                        <td>{{tema.idtema}}</td>
                        <td (click)="verTema(tema)">{{tema.nombre}}</td>
                        <td class="text-right">
                            <button class="btn btn-primary btn-sm" *ngIf="level=='A'"
                                (click)="temporalTema(tema)" data-toggle='modal' data-target='#modalEditar'><i class="fas fa-pen"></i></button>
                            &nbsp;
                            <button class="btn btn-danger btn-sm" *ngIf="level=='A'"
                                (click)="temporalTema(tema)" data-toggle='modal' data-target='#modalEliminar'><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal Para Editar -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modificar Tema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Id:</div>
                    </div>
                    <input type="text" class="form-control" id="idTemaEditar" placeholder="Id del tema"
                        [(ngModel)]="tmpTema.idtema" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Nombre:</div>
                    </div>
                    <input type="text" class="form-control" id="nombreTemaEditar" placeholder="Nombre del tema"
                        [(ngModel)]="tmpTema.nombre">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="guardarCambios()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Para Eliminar -->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Tema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Esta seguro que quiere eliminar el tema {{tmpTema.nombre}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="confirmarEliminar()">Si</button>
            </div>
        </div>
    </div>
</div>